@import url("https://fonts.googleapis.com/css?family=Fira+Sans:700,400|Noto+Sans:700,400");
body, .ui-widget {
  font-family: "Noto Sans";
  font-family: "Fira Sans"; }

#toolbar {
  display: none; }

h1, h2, h3, h4, h5 {
  font-weight: 400; }
